node_modules

# Build outputs
.build
.output
.vercel
.netlify
.wrangler
/.svelte-kit/build
/.svelte-kit/output

.npmrc
.prettierrc
.eslint.config.js
.prettierignore
postcss.config.js
tailwind.config.js
tsconfig.json
vite.config.ts
README.md
svelte.config.js

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
